.footer{
  background-color:rgb(54, 54, 54);
  color:white;
  padding: 20px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-aligned {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-aligned a {
  color: black;
  opacity: 0.10;
  text-decoration: none;
  padding: 0px 10px;
}

.logo-aligned i {
  font-size: 3em;
}

.footer p {
  margin-top: 30px;
  text-align: center;
}
